Flask
xhtml2pdf
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
nltk
python-dotenv
PyMuPDF
google-api-python-client
Pillow
requests
yt-dlp
bcrypt
markdown
pypdf
faiss-cpu
groq
sentence-transformers
flask_cors
flask_sqlalchemy
gunicorn
PyPDF2
transformers